In [1]:
import ast
import pandas as pd

# Load data and preprocessing

In [2]:
dataset_url = 'https://raw.githubusercontent.com/imtezcan/carneyModelingSuperExperimentHssm/main/data/switching_interference.csv'
df = pd.read_csv(dataset_url)

In [3]:
df.head()

,Unnamed: 0,subj_id,prolific_pid,block,trial_index,file_path,task_1,cue_1_start,cue_1_dur,cue_1_end,...,or_1_start,or_1_dur,or_1_end,or_2_coherence,or_2_start,or_2_dur,or_2_end,trial_start,trial_end,key_presses
0,0,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,0,./aw_task_switching/res/115.json,or,308.70,2300.0,2608.70,...,308.70,2300.0,2608.70,NaN,NaN,NaN,NaN,308.70,2608.70,[]
1,1,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,1,./aw_task_switching/res/115.json,or,3208.82,2300.0,5508.82,...,3208.82,2300.0,5508.82,NaN,NaN,NaN,NaN,3208.82,5508.82,[]
2,2,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,2,./aw_task_switching/res/115.json,or,6108.96,2300.0,8408.96,...,6108.96,2300.0,8408.96,NaN,NaN,NaN,NaN,6108.96,8408.96,"[{'correct': True, 'key': 'k', 'time': 6210}]"
3,3,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,3,./aw_task_switching/res/115.json,mov,9009.12,2300.0,11309.12,...,9009.12,2300.0,11309.12,NaN,NaN,NaN,NaN,9009.12,11309.12,[]
4,4,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,4,./aw_task_switching/res/115.json,mov,11909.26,2300.0,14209.26,...,11909.26,2300.0,14209.26,NaN,NaN,NaN,NaN,11909.26,14209.26,"[{'correct': False, 'key': 'j', 'time': 12538}]"

In [4]:
# Parse key presses as list of dictionaries
df['key_presses'] = df['key_presses'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
# Drop rows with no key presses
df = df[df['key_presses'].apply(lambda x: isinstance(x, list) and len(x) > 0)]
# Add rt and response columns
df['rt'] = df.apply(lambda row: row['key_presses'][0]['time'] - row['go_1_start'], axis=1)
df['response'] = df.apply(lambda row: 1 if row['key_presses'][0]['correct'] else -1, axis=1)

In [5]:
df.head()

,Unnamed: 0,subj_id,prolific_pid,block,trial_index,file_path,task_1,cue_1_start,cue_1_dur,cue_1_end,...,or_1_end,or_2_coherence,or_2_start,or_2_dur,or_2_end,trial_start,trial_end,key_presses,rt,response
2,2,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,2,./aw_task_switching/res/115.json,or,6108.96,2300.0,8408.96,...,8408.96,NaN,NaN,NaN,NaN,6108.96,8408.96,"[{'correct': True, 'key': 'k', 'time': 6210}]",101.04,1
4,4,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,4,./aw_task_switching/res/115.json,mov,11909.26,2300.0,14209.26,...,14209.26,NaN,NaN,NaN,NaN,11909.26,14209.26,"[{'correct': False, 'key': 'j', 'time': 12538}]",628.74,-1
7,7,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,7,./aw_task_switching/res/115.json,or,20609.70,2300.0,22909.70,...,22909.70,NaN,NaN,NaN,NaN,20609.70,22909.70,"[{'correct': True, 'key': 'k', 'time': 21628}]",1018.30,1
8,8,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,8,./aw_task_switching/res/115.json,mov,23509.84,2300.0,25809.84,...,25809.84,NaN,NaN,NaN,NaN,23509.84,25809.84,"[{'correct': False, 'key': 'f', 'time': 25074}]",1564.16,-1
10,10,WNM1zAABxWmmjSRb,6654df9e2f8447d37af7186f,train_1,10,./aw_task_switching/res/115.json,or,29310.10,2300.0,31610.10,...,31610.10,NaN,NaN,NaN,NaN,29310.10,31610.10,"[{'correct': True, 'key': 'd', 'time': 30579}]",1268.90,1

In [7]:
df.to_csv('data/switching_interference_preprocessed.csv', index=False)